*{
    padding: 0;
    margin: 0;
}
.container{
    margin: 50px 0px;
}
div{
    height: 1200px;
    background-position: top;
    background-color: rgb(175, 175, 175);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.box_1{
    background-image: url("../img/image_3.jpg");
}
.box_3{
    background-image: url("../img/images_2.jpg");
}