*{
    padding: 0;
    margin: 0;
}
body{
    width: 98vh;
}
.container{
    margin: 15px 5px;
}
div{
    background: purple;
    color: white;
    height: 200px;
    font-family: sans-serif;
    text-align: center;
}
.box_1{
    background-image: url("../img/image_3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box_3{
    background-image: url("../img/images_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}