*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow: hidden;
    background-image: url('../img/diversidade-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#raca{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#raca h1{
    position: fixed;
    top: 45%;
    font-size: 10vh;
    cursor: pointer;
    text-align: center;
    background-image: url('../img/diversidade-1.jpg');
    background-position: center;
    -webkit-text-stroke-width: 2px;
    -moz-text-stroke-width: 2px;
    -ms-text-stroke-width: 2px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    transition: all 1s;
}
#raca #row-1{
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#raca #texto{
    height: 200vh;
    visibility: hidden;  /* hidden */
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: justify;
    transition: all 1.5s;
    transform: translateY(100%); /* 105vh */ 
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
#raca #texto p{
    width: 100%;
    text-align: center;
    padding: 0;
    line-height: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#raca #texto #fechar{
    text-align: center;
    height: 2em;
    font-size: 2em;
}
#raca #texto #fechar #close{
    cursor: pointer;
    font-style: normal;
    color: red;
}
#raca.open{
    overflow-y: scroll;
    overflow-x: hidden;
}
#raca.open h1{
    transform: none;
}
#raca.open #texto{
    transform: translateY(0);
    visibility: visible;
}