@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
:root{
    --font01: 'Comfortaa', sans-serif;
    --font02: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font03: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin-bottom: 50px;
    background-color: rgb(212, 196, 181);
}
                /* ! Cabeçalho do site */
header{
    display: flex;
    align-items: center;
}
header > nav{
    flex: 1;
    padding-left: 60px;
    line-height: 30px;
}
header > a img{
    width: 400px;
}
header > nav ul{
    list-style: none;
    columns: 2;
}
header > nav a{
    color: brown;
    font-family: var(--font02);
    text-decoration: none;
}
                    /* ? Corpo do site */
p{
    font-family: var(--font03);
    line-height: 25px;
    font-weight: lighter;
    text-indent: 15px;
    font-size: 1.7vmax;
}
div#text_in{
    background-color: rgb(0, 0, 0, 0.4);
    box-shadow: 0 0 110px rgba(5, 0, 92, 0.253);
    border-radius: 5px;
    color: white;
    width: 35vmax;
    height: 25vmax;
    background-position: center;
    transform: translate(0, 20%);
    margin: auto;
    padding: 30px;
}
div#text_in p{
    text-align: justify;
    line-height: 2vmax;
}
div.container{
    padding: 50px 15px;
    text-align: justify;
}
div.container h2{
    font-size: 2.3vmax;
    text-transform: uppercase;
    padding-bottom: 5px;
}
section.module_parallax{
    text-transform: uppercase;
    text-align: end;
    font-family: var(--font02);
    font-size: 2vmax;
    padding: 15px;
}
section.image{
    height: 43vmax;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(185, 185, 185);
    box-shadow: inset 0 30px 50px 0 rgba(255, 255, 255, 0.13);
}
section#bg1{
    background-image: url("../img/day.jpg");
}
section#bg2{
    background-image: url("../img/afternoon.jpg");
}
section#bg3{
    background-image: url("../img/night.jpg");
    padding: 15px 0;
}
/* TODO Rodapé */
