*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --color01: #242038ff;
    --color02: #9067c6ff;
    --color03: #8d86c9ff;
    --color04: #cac4ceff;
    --color05: #f7ece1ff;
}
/* @media screen and (min-width:1024px){ */
    /* ! Menu */
    .navbar-brand > img{
        height: 45px;
    }
    @media (min-width: px){
        .navbar-brand > img{
            content: url('../../../img/3Safe-Logo.png');
        }
    }
    .navbar{
        background-color: green !important;
        width: 100%;
    }
    .navbar a{
        font-weight: 600;
    }
    .navbar-collapse{
        justify-content: end;
    }
    /* ! Primeira área */
    main .materia{
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 1em 0;
        align-items: center;
    }
    main .materia > article{
        display: inline-block;
        max-width: 740px;
        padding: 20px 0;
    }
    main .materia > article > h1{
    }
    main .materia .profissional{
        margin: 50px 0;
        width: 1005px;
        background-color: rgba(255, 255, 255, 0.05);
    }
    main .materia .profissional img{
        width: 90%;
    }
    main .materia > article > a{
        display: block;
        width: 197px;
        padding: 15px;
        margin: auto;
        background-color: grey;
        text-decoration: none;
    }
    main .materia > article > a:hover{
        background-color: rgb(169, 169, 169);
    }
    /* ! Segunda área */
    .conteudo{
        padding: 50px;
        display: flex;
        justify-content: space-around;
    }
    .conteudo .FAQ{
        display: flex;
        color: black;
        font-weight: 400;
    }
    .conteudo .left, .conteudo .right{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0 10px;
    }
    .conteudo .right{
        gap: 10%;
    }
    .conteudo .right p{
        font-weight: 400;
        width: 80%;
    }
    .conteudo .faq_text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteudo .faq_text p{
        font-weight: 400;
        width: 300px;
        text-align: center;
    }
    .conteudo .left{
        padding: 50px;
    }
    .conteudo .right{
        justify-content: center;
        align-items: center;
    }
    .accordion-button::after{
        background-image: url('../../../img/plus-regular-24.png');
        transition: all 0.2s;
    }
    .accordion-button:not(.collapsed)::after{
        background-image: url('../../../img/minus-regular-24.png');
    }
    /* ! Terceira área */
    .job{
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .job article p{
        text-align: center;
        width: 500px;
        font-size: 0.8em;
    }
    .job article h2{
        text-align: center;
    }
    .boxcard{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .card{
        width: 18rem;
    }
    .card-text{
        text-align: justify;
    }
}
/* @media screen and (min-width:768px) and (max-width:1023px){

}
@media screen and (min-width:767px){

} */
