@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
:root{
    --color01: #242038ff;
    --color02: #9067c6ff;
    --color03: #8d86c9ff;
    --color04: #cac4ceff;
    --color05: #f7ece1ff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: black;
    background-image: url('../../../img/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.naoSelecionavel {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}
/* ! Conteúdo */
main{
    width: 400px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: auto;
}
.content > h1{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 4em;
    color: var();
    text-shadow: 10px 0 30px rgba(36, 32, 56, 0.5);
}
.content > p{
    margin: 0 0 20px 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    text-shadow: 5px 2px 10px rgba(36, 32, 56, 0.5);
}
.button{
    display: flex;
    justify-content: space-evenly;
}
.btn{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--color02);
    border-radius: 7px;
    box-shadow: 0 0 15px rgba(36, 32, 56, 0.5);
    padding: 5px 40px;
}
.btn:hover{
    transform: scale(1.05) translateY(-1.5px);
    background-color: rgb(130, 83, 192);
    box-shadow: 0 0 30px rgba(36, 32, 56, 0.7);
}
.btn:active{
    transform: translateY(0);
    background-color: rgb(103, 46, 179);
    box-shadow: 0 0 15px rgba(36, 32, 56, 0.5);
}
/* todo MODAL SEM ALTERAÇÕES */
.sign-container {
    position: relative;
}
  
.sign {
    position: absolute;
    cursor: pointer;
    font-size: 3em;
}
#sign-1 {
    top: 45%;
    right: 0;
    transition: transform 1s;
}

#sign-2 {
    top: 0;
    right: 45%;
    transition: transform 1s;
}
.janela-modal h1, .janela-modal h2{
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
}
.janela-modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    overflow-y: scroll;
    transition: transform 2s;
}

.janela-modal.abrir {
    transform: translateX(0);
    transition: 1s;
    visibility: visible;
}
.modal{
    visibility: none;
    position: absolute;
    right: 0;
    padding: 50px 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    min-width: 450px;
}
.modal .apresentacao{
    display: grid;
    align-items: center;
}
.modal .apresentacao #imagem{
    grid-area: imagem;
}
.modal .apresentacao #nome{
    grid-area: nome;
}
.modal .apresentacao #texto{
    grid-area: texto;
}
.modal .apresentacao #texto > q{
    text-indent: 10px;
    font-style: italic;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}
.modal .apresentacao #texto ul{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
.modal .apresentacao #redes{
    grid-area: redes;
    padding: 15px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}
.modal .apresentacao .rede a{
    color: black;
    display: inline-block;
}
/* ? Pc, Notebook, Tablet */
@media screen and (min-width: 800px){
    #sign-2 {
        display: none;
      }
      
    /* ? Modal */
    .sign{
        top: 45%;
        right: 0;
        transition: transform 1s;
    }
    .janela-modal {
        transform: translateX(100%);
      }
      .sign {
        top: 45%;
        right: 0;
        transition: transform 1s;
      }
    .modal{
        width: 550px;
    }
    .modal .apresentacao{
        grid-template-columns: 64px;
        grid-template-areas:
            'imagem nome'
            'texto texto'
            'redes redes';
    }
    .modal .apresentacao img{
        height: 64px;
        width: 64px;
        border-radius: 50%;
        transition: 1s;
    }
    .modal .apresentacao #imagem img:hover{
        transform: scale(1.1);
    }
    .modal .apresentacao #nome h2{
        transition: 0.5s;
    }
    .modal .apresentacao #nome h2:hover{
        transform: scale(1.02);
    }
    .modal .apresentacao #texto > q{
        text-align: justify;
    }
    .modal .apresentacao #texto ul{
        padding: 5px 50px;
    }
    .modal .apresentacao #redes .rede{
        width: 33%;
    }
    .modal .apresentacao .rede a{
        font-size: 2em;
        transition: 0.5s;
    }
    .modal .apresentacao .rede a:hover{
        transform: scale(1.2) translateY(-2px);
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}
/* ? Celulares */
@media screen and (max-width: 800px){
    #sign-1 {
        display: none;
      }
      .janela-modal {
        transform: translateY(-100%);
      }
      .sign {
        top: 0;
        right: 45%;
        transition: transform 1s;
      }
    /* ? Modal */
    .janela-modal::-webkit-scrollbar{
        display: none;
    }
    .modal{
        width: 100%;
    }
    .modal .apresentacao{
        display: grid;
        grid-template-areas:
            'imagem'
            'nome'
            'texto'
            'redes';
    }
    .modal .apresentacao #imagem{
        text-align: center;
    }
    .modal .apresentacao img{
        height: 128px;
        width: 128px;
        border-radius: 50%;
    }
    .modal .apresentacao #nome h2{
        font-size: 1.4em;
    }
    .modal .apresentacao #texto > q{
        padding-top: 50px;
        text-indent: 10px;
    }
    .modal .apresentacao #texto ul{
        text-align: center;
        list-style-type: none;
        padding: 10px;
        width: 200px;
        margin: 5px auto;
        border: solid black;
        border-top: 10px;
        border-bottom: 10px;
    }
    .modal .apresentacao #redes .rede{
        width: 25%;
    }
    .modal .apresentacao .rede a{
        font-size: 3em;
    }
}