*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    background-image: url('img/coding_img.png');
}
@media (min-width: 1024px) {
    div.site{
        display: flex;
        flex-direction: column;
    }
    /* TODO ** Cabeçalho ** */
    header{
        width: 100%;
    }
    .container{
        display: flex;
        align-items: center;
        text-align: center;
        margin: 8px 0 0 10px;
    }
    header #img{
        width: 30%;
    }
    header #menu{
        width: 70%;
    }
    header > #menu nav{
        padding: 20px;
    }
    header #menu nav > ul{
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }
    header #menu nav > ul > li > a{
        color: white;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        padding: 5px;
    }
    header #menu nav > ul > li > a::after, header nav > ul > li > a::before{
        content: "";
        position: absolute;
        height: 1px;
        width: 0;
        background-color: white;
        transition: 0.5s;
    }
    header #menu nav > ul > li > a::after{
        left: 0;
        top: 0;
    }
    header #menu nav > ul > li > a::before{
        right: 0;
        bottom: 0;
    }
    header #menu nav > ul > li > a:hover::after, header nav > ul > li > a:hover::before{
        width: 100%;
    }
    hr#break{
        margin: 10px 5px;
    }
    /* TODO ** Corpo ** */
    /* -- Sobre mim Ínicio -- */
    section#Sobre-mim {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }
    main section#Sobre-mim > img{
        margin: 0 60px;
        height: 250px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(128, 0, 128, 0.4);
        cursor: pointer;
        transition: 2s;
    }
    main section#Sobre-mim > img:hover{
        transition: 1s;
        transform: scale(1.02);
        box-shadow: 0 0 40px rgba(128, 0, 128, 1);
    }
    main div#AboutMe{
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }
    main div#AboutMe > h1, main > div#AboutMe > h2{
        margin-bottom: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.8em;
    }
    main div#AboutMe > h1{
        width: 500px;
        text-align: end;
    }
    main div#AboutMe > h2{
        width: 500px;
        font-size: 1em; 
        text-align: end;
    }
    main div#AboutMe > p{
        text-indent: 20px;
        width: 500px;
        text-align: justify;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    main div#AboutMe strong{
        color: purple;
    }
    /* -- Sobre Mim Fim -- */
    /* -- Códigos Ínicio -- */
    main div#Works{
        display: flex;
        justify-content: space-around;
        margin-top: 200px;
        padding: 10px 20px;
    }
    main div#Works ul{
        list-style: none;
    }
    main div.box{
        padding: 20px;
    }
    main div.box h2 a{
        color: white;
        display: block;
        padding: 10px 50px;
        background-color: rgba(128, 0, 128, 0.418);
        box-shadow: 0 0 5px rgb(255, 0, 255);
        font-variant: small-caps;
        text-decoration: none;
        transition: 1s;
    }
    main div.box h2 a:hover{
        transition: 1s;
        transform: translateY(-5px) scale(1.01);
        box-shadow: 0 0 50px rgb(255, 0, 255);
    }
    /* -- Códigos Fim -- */
    /* TODO ** Rodapé ** */
    footer{
        position: absolute;
        bottom: 0;
        right: 47vw;
        text-align: center;
        padding: 20px 0;
        background-color: rgba(7, 0, 36, 0.021);
    }
    footer p{
        margin-top: 10px;
    }
    footer > a.media{
        display: inline-block;
        font-size: 2em;
        text-align: center;
        color: white;
        padding: 4.5px 4.5px 0 4.5px;
        border: 1px solid white;
        border-radius: 50%;
        transition: 2.5s;
    }
    footer > a.media:hover{
        transition: 1s;
        transform: translateY(-2px);
        color: black;
        background-color: white;
    }    
}
@media (min-width: 787px) and (max-width: 1024px) {
    
}
@media (max-width: 787px){
    header{
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .container img{
        margin-top: 10px;
    }
    nav > ul {
        display: flex;
        list-style: none;
        margin: 10px 0;
        justify-content: space-evenly;
    }
    nav > ul a{
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
    }
    header #menu nav > ul > li > a::after, header nav > ul > li > a::before{
        content: "";
        position: absolute;
        height: 1px;
        width: 0;
        background-color: white;
        transition: 0.5s;
    }
    header #menu nav > ul > li > a::after{
        left: 0;
        top: -1;
    }
    header #menu nav > ul > li > a::before{
        right: 0;
        bottom: 0;
    }
    header #menu nav > ul > li > a:hover::after, header nav > ul > li > a:hover::before{
        width: 20%;
    }
    hr{
        margin: 0 5px;
    }
    
    section#Sobre-mim {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main section#Sobre-mim > img{
        margin: 45px 0;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(128, 0, 128, 0.4);
        cursor: pointer;
        transition: 2s;
    }
    main section#Sobre-mim > img:hover{
        transition: 1s;
        transform: scale(1.02);
        box-shadow: 0 0 40px rgba(128, 0, 128, 1);
    }
    main div#AboutMe {
        text-align: center;
        padding: 10px 30px;
        margin: 0 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    main div#AboutMe > h1, main > div#AboutMe > h2{
        margin-bottom: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.8em;
    }
    main div#AboutMe > p{
        text-indent: 20px;
        text-align: justify;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    main div#AboutMe strong{
        color: purple;
    }
    /* -- Sobre Mim Fim -- */
    /* -- Códigos Ínicio -- */
    main div#Works{
        margin: 100px 0;
        padding: 10px 20px;
    }
    main div#Works ul{
        list-style: none;
    }
    main div.box{
        text-align: center;
        margin: 20px;
        padding: 20px;
    }
    main div.box h2 a{
        display: block;
        color: white;
        background-color: rgba(128, 0, 128, 0.418);
        padding: 10px;
        font-size: 1.5em;
        font-variant: small-caps;
        text-decoration: none;
        box-shadow: 0 0 5px rgb(255, 0, 255);
        transition: .5s;
    }
    main div.box h2 a:hover{
        transition: 1s;
        transform: translateY(-5px) scale(1.01);
        box-shadow: 0 0 50px rgb(255, 0, 255);
    }
    /* -- Códigos Fim -- */
    /* TODO ** Rodapé ** */
    footer{
        position: relative;
        bottom: 0;
        text-align: center;
        padding: 20px 0;
        background-color: rgba(7, 0, 36, 0.021);
    }
    footer p{
        margin-top: 10px;
    }
    footer > a.media{
        display: inline-block;
        font-size: 2em;
        text-align: center;
        color: white;
        padding: 4.5px 4.5px 0 4.5px;
        border: 1px solid white;
        border-radius: 50%;
        transition: 2.5s;
    }
    footer > a.media:hover{
        transition: 1s;
        transform: translateY(-3px);
        color: black;
        background-color: white;
    }
}