body{
    font-size: 15pt;
}
h2{
    font-weight: normal;
    /*Retira o negrito dos títulos h2*/
}
h2#padrao{
    font-family: Arial, Helvetica, sans-serif;
    /*Navegador tentar carregar a primeira, se não funcionar/encontrar, passa para próxima*/
}